.widgetCart {
  height: 20vh;
  width: 100%;
  position: fixed;
  left: 0;
  background: var(--blanco);
  z-index: 2;
  box-shadow: -0.3rem 0 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 1.5s ease;
}

.close {
  top: 100%;
}
