.category {
    padding: 4rem 15rem 0rem 15rem;
}

.category h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--color-secundario);
}

.category h2::first-letter {
    text-transform: uppercase;
}
