nav {
    background: var(--blanco);
    padding: 1rem 0;
    -webkit-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    -moz-box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    box-shadow: 1px 3px 11px -8px rgba(82,82,82,1);
    border-top: 1px solid #eeeeee;

}

nav .container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    position: relative;
}

nav h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 0.2rem;
}

nav h1 a {
    color: var(--color-secundario);
}

nav ul {
    display: flex;
}

.container-ul {
    width: 35%;
    margin-right: 11%;
}

nav ul li {
    margin: 0 2rem;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: var(--color-principal);
    font-size: 1.1rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background: var(--color-secundario);
    position: absolute;
    bottom: -0.5rem;
    opacity: 0;
    transition: opacity 0.2s;
}

nav ul li a:hover {
    color: var(--color-secundario);
    opacity: 1;
}
