.material-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #ffffff;
  color: #eeeeee;
  z-index: 1000;
  transition: 0.2s ease-in height, step-end box-shadow 0.2s;
  -moz-transition: 0.2s ease-in height, step-end box-shadow 0.2s;
  -webkit-transition: 0.2s ease-in height, step-end box-shadow 0.2s;
}
.material-dropdown.material-dropdown-open {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.material-dropdown li {
  padding: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.material-dropdown li:hover {
  background-color: #e8eaf6;
}
.material-dropdown li.material-dropdown-selected {
  background-color: #9fa8da;
}

.material-form-field {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  position: relative;
  display: block;
  color: #000000;
  padding: 25px 0 0px 0;
}
.material-form-field::after {
  content: " ";
  display: block;
  color: #d50000;
  font-size: 12px;
  padding-top: 5px;
}
.material-form-field .material-form-field-label {
  position: absolute;
  display: block;
  top: 35px;
  left: 0px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
  cursor: text;
}
.material-form-field input {
  padding: 10px 0 10px 0;
  display: block;
  width: 100%;
  border: none;
  font-size: 14px;
  color: #000000;
  border-bottom: 1px solid #eeeeee;
  outline: none;
}
.material-form-field input:invalid {
  outline: none;
  box-shadow: none;
}
.material-form-field input:valid ~ .material-form-field-label, .material-form-field input:focus ~ .material-form-field-label {
  top: 10px;
  font-size: 12px;
}
.material-form-field input:focus {
  outline: none;
  color:  #0057ff;
  padding-bottom: 8px;
  border-bottom-width: 3px;
  border-bottom-color:  #0057ff;
}
.material-form-field input:focus ~ .material-form-field-label {
  color: #0057ff;
}
.material-form-field input:focus ~ .material-dropdown {
  /*
  If you want to animate this you will need to use some js to calculate it
  Optionally, you can simply display:block/none 
  */
  height: 228px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-out height, step-start box-shadow 0.2s;
  -moz-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
  -webkit-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
}
.material-form-field.material-form-field-invalid {
  color: #d50000;
}
.material-form-field.material-form-field-invalid::after {
  content: attr(data-validationError);
}
.material-form-field.material-form-field-invalid input:focus ~ .material-form-field-label {
  color: #d50000;
}
