.checkout {
  padding: 2rem 0;
}

.checkout h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--color-secundario);
}

.checkout form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-group {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 20px;
}

h5 {
    margin-bottom: 1rem;
}

.container-button-form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.container-button-form .btn-back {
    transition: background 0.5s;
    width: 80px;
    outline: none;
    background: var(--color-principal);
    color:  #fff;
    border-radius: 50px;
    border: none;
    padding: 0;
    height: 35px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.container-button-form .btn-next {
    transition: background 0.5s;
    width: 80px;
    outline: none;
    background: var(--color-principal);
    color:  #fff;
    border-radius: 50px;
    border: none;
    padding: 0;
    height: 35px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 1rem;
    cursor: pointer;
}

.container-button-submit {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.btn-comprar {
    transition: background 0.5s;
    width: 200px;
    outline: none;
    background: var(--color-principal);
    color:  #fff;
    border-radius: 50px;
    border: none;
    padding: 0;
    height: 35px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 1rem;
}

.btn-comprar:hover {
    background: var(--color-secundario);
    cursor: pointer;
}

.btn-comprar:disabled {
    background: #375692;
}

.container-button-form .btn-back:disabled {
  background: #ddd;
  cursor: no-drop;
}

.container-button-form .btn-next:disabled {
  background: #ddd;
  cursor: no-drop;
}

.container-credit-form {
    display: flex;
    flex-direction: row-reverse;
}

.form-grup-card {
    width: 100%;
    margin-right: 20px;
}
