.cont-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 80%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: black;
}

.slide {
    min-width: 100%;
    height: auto;
    transition: 0.5s;
    overflow: hidden;
}

#goLeft, #goRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}

#goLeft i, #goRight i {
    font-size: 2vw;
    color: #0057ff;
}

#goLeft:hover, #goRight:hover {
    background: rgba(0, 0, 0, 0.356);
    cursor: pointer;
}

#goLeft:hover i, #goRight:hover i {
    font-size: 3vw;
    color: #eee;
}

#goLeft {
    left: 0;
}

#goRight {
    right: 0;
}

@media screen and (max-width: 414px) {
    .slider {
        width: 100%;
    }
}
 